<!DOCTYPE html>
<html>
  <head>
    <title>Kikipat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="/assets/cufon/cufon-yui.js"></script>
    <script type="text/javascript" src="/assets/cufon/Museo_300-Museo_400.font.js"></script>
    <script type="text/javascript" src="/assets/cufon/config.js"></script>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="header">
      <div class="header_content">
        <h1><%= link_to "Kiki et Pat", root_url %> </h1>

        <div id="user_nav">
          <% if current_user %>
            <%= link_to "Configuration", settings_path, :class => "small-rounded-corners" %>
            <%= link_to "Se déconnecter", log_out_path, :class => "small-rounded-corners" %>
          <% else %>
            <%= link_to "Se connecter", log_in_path, :class => "small-rounded-corners" %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="main">
      <div class="content">

        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>


        <%= yield %>
      </div>
      <div class="sidebar">
        <div id="about-box">
          <%= Setting.welcome_text.html_safe %>
        </div>

      </div>
    </div>

    <br class="clear" />
    <div class="footer">
      <div class="copyright">
        Fait par <%= link_to "Sébastien Lachance", "http://sebastienlachance.com" %>
      </div>
    </div>

    <script type="text/javascript"> Cufon.now(); </script>
  </body>
</html>
